@media (min-width: 768px) {
  .Cards--noscript.Faq,
  .Cards.Faq {
    max-width: 100%;
    margin: 40px auto 0 0;
    padding-left: 24px;
    flex-flow: row nowrap;
  }

  div[class^="Faq--"] {
    align-self: flex-start;
  }

  .Faq--Nav {
    display: none;
    width: 244px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .Faq--Content {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .Faq--Nav {
    display: block;
  }

  .Faq--Content {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .Faq--Nav {
    display: block;
    margin-right: 134px;
  }
  .Faq--Content {
    width: 746px;
  }
}
