.icon-link {
  align-self: center;
  img {
    max-height: 16px;
    padding: 0 12px 0 0;
  }
  span,
  & span {
    display: inline-flex;
  }
}

.ph-social--mastodon,
.ph-social--x,
.ph-social--meta,
.ph-social--instagram,
.ph-social--linkedin,
.ph-social--github,
.ph-social--telegram,
.ph-social--gitlab {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;

  overflow: hidden;
  text-indent: -9999px;

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  &:before {
    content: none;
  }
}

.ph-social--mastodon {
  background-image: url("/static/icons/brands/mastodon.png");
}
.ph-social--x {
  background-image: url("/static/icons/brands/x.png");
}
.ph-social--meta {
  background-image: url("/static/icons/brands/meta.png");
}
.ph-social--instagram {
  background-image: url("/static/icons/brands/instagram.png");
}
.ph-social--linkedin {
  background-image: url("/static/icons/brands/linkedin.png");
}
.ph-social--github {
  background-image: url("/static/icons/brands/github.png");
}
.ph-social--telegram {
  background-image: url("/static/icons/brands/telegram.png");
}
.ph-social--gitlab {
  background-image: url("/static/icons/brands/gitlab.png");
}

.ph-warning-circle {
  font-size: 24px;
}