@use "sass:list";
@use "../partials/palette";

h1,
.h1 {
  font-family: "SpaceGrotesk";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: -2px;
}

h2,
.h2 {
  font-family: "SpaceGrotesk";
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
}

h3,
.h3 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
}

h4,
.h4 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

h5,
.h5 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

label,
.label,
p,
a,
header a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  &.large {
    font-size: 18px;
  }

  &.bold {
    font-weight: 600;
  }
}

.btn {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: list.nth(palette.$purple, 7);
  text-decoration: underline;
}

small,
.small {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.tiny {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  &.bold {
    font-weight: 600;
  }
}

.bold {
  font-weight: 600;
}
