.Cards,
.Cards--noscript {
  height: auto;
  width: 100%;
  margin: 40px auto 0;
  padding: 5px;
  max-width: 526px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  row-gap: 3px;

  & > div,
  & > form {
    flex: none;
    align-self: center;
  }
  & > form {
    width: 100%;
  }
}
