@use "sass:list";
@use "../partials/palette";

.Cards--noscript.Faq,
.Cards.Faq {
  margin: 0 auto;
}

.Faq--Nav {
  display: none;
  width: 100%;
  margin-bottom: 4rem;
  h6 {
    padding: 8px 16px;
    border-radius: 2px;
    background-color: list.nth(palette.$purple, 1);
    color: list.nth(palette.$purple, 6);
    border-left: 3px solid list.nth(palette.$purple, 6);
  }
  ul {
    padding: 0 0 24px 48px;
    a {
      display: block;
      text-decoration: none;
      color: palette.$black;
      padding: 0.75rem 1rem 0;
      background: none;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }
  .btn {
    width: 100%;
    text-align: left;
    padding: 8px 24px;

    i {
      font-size: 24px;
      float: right;
    }
  }
}

.Faq--Content {
  width: 100%;
  p.large {
    border-bottom: 3px solid list.nth(palette.$green, 6);
    display: inline-block;
  }
  h1 {
    margin-bottom: 48px;
  }
  h5 {
    color: palette.$accentDeEmphasized;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
    }
  }

  dl {
    margin-bottom: 4rem;
  }

  dt {
    cursor: pointer;
  }

  dd {
    cursor: default;
    ul,
    ol {
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
    :last-child {
      margin-bottom: 0;
    }
    ul {
      li::before {
        content: "\2022";
        color: list.nth(palette.$purple, 6);
        display: inline-block;
        width: 12px;
      }
    }
  }

  dt {
    color: list.nth(palette.$purple, 6);
  }

  dd + dt {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top: 2px solid palette.$borderNeutral;
  }

  dl + dl {
    margin-top: 80px;
  }
}
