@use "sass:list";
@use "../partials/palette";

.form-control {
  line-height: 2.25;
  border: 1px solid palette.$formBorder;
  padding: calc(0.375rem + 2px) calc(0.75rem + 2px);
  &:focus {
    padding: 0.375rem 0.75rem;
    border: 3px solid list.nth(palette.$purple, 7);
    box-shadow: none;
  }
}

.form-check-label {
  .subtext {
    display: block;
    color: palette.$accentDeEmphasized;
  }
}

[id^="customDonation"] {
  appearance: textfield;
}

[id^="pricegrid"] {
  .customDonation-container {
    border-radius: 6px;
    border: none;
    padding: 0;
    position: relative;
    z-index: 1;
    .input-group-text {
      background: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      border: none;
      z-index: 2;
      pointer-events: none;
      &:first-of-type {
        padding: 6px 2px 6px 24px;
        left: 0;
      }
      &:last-of-type {
        padding: 6px 24px 6px 2px;
        right: 0;
      }
      .form-control.is-invalid ~ & {
        display: none;
      }
    }
    .form-control {
      padding-left: 34px;
      border-radius: 6px;
      // overriding some bootstrap css rules
      // with preventatively-specific element targeting
      border-top-left-radius: 6px !important;
      border-top-right-radius: 6px !important;
      border-bottom-left-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
      z-index: 1;
      &:focus {
        z-index: 5;
      }
    }
  }
}
.was-validated {
  [id^="pricegrid"] {
    .customDonation-container {
      .input-group-text {
        .form-control:invalid ~ & {
          display: none;
        }
      }
    }
  }
}

.shippingRestricted {
  padding-top: 1rem;
}

.donate-form--cc {
  label > small {
    display: block;
  }
}

.noPerk {
  padding: 16px 24px 16px 16px;
  background-color: palette.$borderNeutral;
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  &.form-check {
    input {
      margin-left: 0;
      float: none;
    }
    label {
      margin-left: 16px;
      flex-grow: 2;
    }
  }
}

.Perk {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;

  .unmet-single,
  .unmet-monthly {
    display: none;
  }

  &.single {
    .unmet-single {
      display: block;
    }
  }

  &.monthly {
    .unmet-monthly {
      display: block;
    }
  }
}

.Perk-frame {
  display: block;
  display: flex;
}

.Perk-selection {
  margin: 30px 0 0 0;
  display: flex;
  flex-flow: column;
  position: relative;

  .Perk-label {
    flex-basis: 100%;
    display: flex;
    flex-flow: column;
    align-content: space-between;
  }
  .btn-check + .Perk-label {
    .Perk-caption {
      padding: 0 3px 30px;
      // flex-grow: 2;
    }
    .Perk-imgButton {
      border: 3px solid palette.$white;
      background: palette.$white;
      border-radius: 4px;
      padding: 8px;
      img {
        margin: 0 0 30px 0;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      .btn-tertiary {
        display: none;
      }
    }
  }
  .btn-check:checked + .Perk-label {
    .Perk-imgButton {
      border: 3px solid list.nth(palette.$purple, 7);
    }
  }
  &.Perk-active {
    cursor: pointer;
    .btn-check + .Perk-label {
      .btn-tertiary {
        display: block;
      }
      .btn-unmet {
        display: none;
      }
    }
  }
}

.Perk-caption {
  h5 {
    margin-top: initial;
  }
  p {
    margin-bottom: 0;
  }
}

[id^="id_single_or_monthly"] + label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.donate-form--emailUpdates {
  label {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 5px;
    input {
    }
    span {
      flex-grow: 2;
    }
  }
}

.donate-form--ccFields {
  display: flex;
  flex-flow: column;
  .ccFields-frame {
    display: flex;
    .form-group {
      display: flex;
      flex-flow: column;
      label {
        flex-grow: 2;
      }
    }
  }
}

#donatePaypal {
  .ph-info {
    font-size: 24px;
  }
}
