@use "sass:list";
@use "../partials/palette";

header,
footer {
  height: auto;
  width: 100%;
  position: relative;
  display: block;

  ul[class$="--Container"] {
    padding: 0 32px 24px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: baseline;

    & > li {
      flex: none;
      align-self: center;
    }

    ul[class$="--Navigation"],
    ul[class$="--Links"] {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: baseline;
      padding-top: 24px;

      li {
        flex: none;
        align-self: center;
        padding-right: 32px;
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}

header {
  background-color: list.nth(palette.$purple, 8);
  color: palette.$white;
  p,
  a {
    color: palette.$white;
  }
}

footer {
  margin-top: 40px;
  & > ul:first-of-type {
    background-color: list.nth(palette.$purple, 7);
  }
  & > ul:last-of-type {
    background-color: list.nth(palette.$purple, 8);
  }
  p,
  a {
    color: palette.$white;
  }

  ul[class$="--Trademark"],
  ul[class$="--Flourish"] {
    padding-top: 24px;
  }

  ul[class$="--Trademark"] {
    a,
    p {
      display: inline;
      list-style: none;
    }
  }
}

@import "mq/mq-header-footer";
