@use "../partials/palette";

header {
  height: auto;
  width: 100%;
  position: relative;
  display: block;
  padding: 24px 32px;

  ul {
    padding-left: 0;
  }

  .Header--Container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;

    & > li {
      list-style: none;
      flex: none;
      align-self: center;
    }

    .Header--Navigation,
    .Header--Links {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: baseline;

      li {
        list-style: none;
        flex: none;
        align-self: center;
        padding-right: 32px;
        &:last-of-type {
          padding-right: 0;
        }
      }

      a {
        color: palette.$accentNeutral;
      }
    }
    ul.Header--Links {
      justify-content: flex-end;
    }
  }
}
