@use "sass:list";
@use "../partials/palette";

.Hero {
  display: block;
  width: 100%;
  padding: 80px 0;
  color: palette.$white;
  position: relative;
  text-align: center;
}

.Hero--i18n {
  position: absolute;
  top: 18px;
  right: 18px;
  width: auto;
  margin: 0 0 0 auto;
  border-radius: 4px;
  background-color: list.nth(palette.$purple, 8);
  p {
    line-height: 32px;
    margin: 0 12px;
  }
}

.Hero--copy {
  display: inline-block;
  margin: 0 auto;

  .h5 {
    display: inline-block;
    font-weight: 400;
    padding-bottom: 4px;
    border-bottom: 3px solid list.nth(palette.$purple, 4);
  }

  h1 {
    margin-top: 4px;
    margin-bottom: 18px;
  }

  p.large {
    max-width: 600px;
  }
}
