@use "sass:list";
@use "../partials/palette";

.Card.Subnav {
  padding: 0;
  font-weight: 600;
  border-bottom: 3px solid palette.$borderNeutral;

  ul {
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;

    li.nav-item {
      align-self: center;

      .nav-link {
        text-decoration: none;
        color: palette.$black;
        border-bottom: 3px solid transparent;
        line-height: 3;

        &.active {
          border-bottom: 3px solid list.nth(palette.$purple, 7);
          color: list.nth(palette.$purple, 7);
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}

@import "mq/mq-subnav";
