@use "sass:list";
@use "../partials/palette";

.accordion-item {
  border: none;
  border-bottom: 1px solid list.nth(palette.$purple, 2);
  &:last-of-type {
    border-bottom: none;
  }
  .accordion-button {
    box-shadow: none;
  }
}

#cryptoAccordion {
  .form-control {
    color: list.nth(palette.$purple, 8);
  }

  .input-group input,
  .input-group .input-group-text {
    border: 1px solid list.nth(palette.$purple, 8);
    border-radius: 4px;
  }
  .input-group input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .input-group .input-group-text {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: palette.$white;
    color: list.nth(palette.$purple, 8);
  }

  .currencyAddress--copy,
  .currencyAddress--openModal {
    cursor: pointer;
    text-decoration: none;
  }

  .ph-qr-code {
    font-size: 24px;
    line-height: 2;
    padding-left: 6px;
    color: list.nth(palette.$purple, 8);
  }

  .Cards--noscript & {
    .accordion-item {
      border: none;
      border-bottom: 1px solid list.nth(palette.$purple, 2);
    }

    .input-group input,
    .input-group .input-group-text {
      border: 1px solid list.nth(palette.$purple, 8);
    }
    .input-group input {
      border-right: none;
    }

    .collapse:not(.show) {
      display: block;
    }
  }
}
