@use "sass:list";
@use "../partials/palette";

.btn,
.btn-check + .btn {
  border-radius: 8px;
  border-width: 3px;

  &.btn-outline-primary {
    // color: list.nth(palette.$purple, 7);
    // background-color: transparent;

    &.active {
      // color: palette.$white;
      // background-color: list.nth(palette.$purple, 7);
      // border-color: list.nth(palette.$purple, 7);
    }
  }

  &.btn-flex {
    display: inline-flex;
    flex-flow: row nowrap;
  }
}

.btn-group {
  .btn,
  .btn-check + label.btn {
    .ph-radio-button,
    .ph-circle {
      padding-right: 8px;
    }
    .ph-radio-button {
      display: none;
    }

    .ph-circle {
      display: initial;
    }
    &.active {
      .ph-radio-button {
        display: initial;
      }

      .ph-circle {
        display: none;
      }
    }
  }
  .btn-check:checked + label.btn {
    .ph-radio-button {
      display: initial;
    }

    .ph-circle {
      display: none;
    }
  }
}

$secondary: list.nth(palette.$purple, 7);

// TODO: integrate more cleanly with bootstrap, which doesn't seem to provide for custom checked states for custom button color states

.btn-check:checked + .btn.btn-secondary {
  color: palette.$white;
  background-color: $secondary;
  border-color: $secondary;
}
.btn-check:checked + .btn.btn-tertiary {
  color: palette.$white;
  background-color: $secondary;
  border-color: $secondary;
}
