@use "sass:list";
@use "../partials/palette";

.Card {
  padding: 40px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  position: relative;
  display: block;
  &.hidden {
    display: none;
  }

  img {
    max-width: 100%;
    width: 100;
    display: block;
  }

  section {
    & > h5 {
      margin-top: 0;
    }
  }

  &.Card--UpperHalf {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &.Card--Mid {
    border-radius: 0px;
  }

  &.Card--Contiguous {
    margin-top: -3px;
    padding-top: 0;
    h5 {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &.Card--LowerHalf {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  h4 {
    width: 100%;
    padding: 0 0 24px;
    margin: 0 0 24px;
    border-bottom: 3px solid;
  }
  &.bg-purple-10 {
    h4 {
      border-bottom-color: list.nth(palette.$purple, 2);
    }
  }
  &.bg-neutral {
    h4 {
      border-bottom-color: palette.$borderNeutral;
    }
  }

  h5 {
    margin-top: 32px;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Card.Card--UpperHalf + .Card.Card--LowerHalf,
.Card.Card--UpperHalf + .Card.Card--Mid,
.Card.Card--Mid + .Card.Card--Mid,
.Card.Card--Mid + .Card.Card--LowerHalf {
  margin-top: 3px;
}
