{% extends 'layout.html' %}

{% macro render_order_summary_field(order_summary_key, order_summary_value) %}
  <li>{{ _('{order_summary_key}: {order_summary_value}').format(
          order_summary_key=order_summary_key,
          order_summary_value=order_summary_value) }}</li>
{% endmacro %}

{% block pageheader %}
  <!-- Must be loaded from Stripe servers, as per Stripe: https://stripe.com/docs/js/including -->
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const stripe = Stripe("{{ stripe_api_key }}");
  </script>
{% endblock %}

{% block pageid %}thankyou{% endblock pageid %}

{% block hero %}
  <div class="Card Subnav">
    <ul class="nav">
      {% with link=url('donate_form') %}
      <li class="nav-item">
        <a href="{{ link }}" class="nav-link">Donate online</a>
      </li>
      {% endwith %}
      {% with link=url('cryptocurrency') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ link }}">Donate crypto</a>
      </li>
      {% endwith %}
      {% with link=url('faq') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ link }}">Donation FAQ</a>
      </li>
      {% endwith %}
    </ul>
  </div>
{% endblock hero %}
  
{% block body %}
  <div class="Cards">

    <div class="Card Card--UpperHalf Card-succeeded Card-COMPLETED bg-purple-10">
    <img src="/static/images/tor-powered.png" />
      <h4>Thank you for your support!</h4>
      <p>Your gift helps Tor stay strong against the growing threats to privacy, freedom of expression, and access to information online.</p>
      <p>Thank you for standing up for the human right of privacy.</p>
    </div>

    <div class="Card Card--UpperHalf Card-processing bg-purple-10">
    <img src="/static/images/tor-powered.png" />
      <h4>Payment processing</h4>
      <p>Your payment is processing.</p>
    </div>

    <div class="Card Card--UpperHalf Card-requires_payment_method bg-purple-10">
    <img src="/static/images/tor-powered.png" />
      <h4>Payment error</h4>
      <p>Your payment was unsuccessful.</p>
    </div>

    <div class="Card Card--Mid bg-neutral">
      <h5>Help spread the word</h5>
      <p>Tell the world about your support for the Tor Project and the human right to privacy, or follow us on <a href="#">Mastodon</a>, <a href="#">X</a>, <a href="#">Instagram</a>, <a href="#">Facebook</a> and <a href="#">LinkedIn</a>.</p>
      <p>
        <a href="#" class="btn btn-primary me-2 btn-flex"><i class="icon-link"><img src="/static/icons/brands/mastodon.png" /></i><span>Publish</span></a>
        <a href="#" class="btn btn-primary me-2 btn-flex"><i class="icon-link"><img src="/static/icons/brands/x.png" /></i><span>Post</span></a>
      </p>
    </div>

    <div class="Card Card--LowerHalf bg-purple-10">
      <h5>Get Involved</h5>
      <p>Whether you have a lot of time to volunteer or a little, and whether you consider yourself technical or not, we want you to join our community.</p>
      <p>
        <a href="#" class="btn btn-outline-primary">Join the Community <i class="ph ph-arrow-up-right"></i></a>
      </p>
    </div>
  </div>

    {#% if order_summary %#}
        {#{ render_order_summary_field('First name', order_summary['first_name']) }#}
        {#{ render_order_summary_field('Last name', order_summary['last_name']) }#}
        {#{ render_order_summary_field('Type of donation', order_summary['single_or_monthly']) }#}
        {#% if order_summary['no_gift'] %#}
          {#{ render_order_summary_field('Gift', 'No gift') }#}
        {#% else %#}
          {#{ render_order_summary_field('Gift', order_summary['perk'].name) }#}
        {#% endif %#}
        {#{ render_order_summary_field('Donation amount', order_summary['donation_amount']) }#}
        {#{ render_order_summary_field('Address', order_summary['street_address']) }#}
        {#{ render_order_summary_field('Email address', order_summary['email_address']) }#}
    {#% endif %#}
  </div>
{% endblock %}
