<footer>
  <ul class="Footer--Container">
    <li>
      <ul class="Footer--Navigation">
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Newsletter</a></li>
      </ul>
    </li>
    <li>
      <ul class="Footer--Links">
        <li>
          <a href="https://mastodon.social/@torproject">
            <i class="ph ph-social--mastodon">Mastodon</i>
          </a>
        </li>
        <li>
          <a href="https://x.com/torproject">
            <i class="ph ph-social--x">X</i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/TorProject/">
            <i class="ph ph-social--meta">Meta</i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/torproject">
            <i class="ph ph-social--instagram">Instagram</i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/tor-project">
            <i class="ph ph-social--linkedin">LinkedIn</i>
          </a>
        </li>
        <li>
          <a href="https://github.com/torproject">
            <i class="ph ph-social--github">Github</i>
          </a>
        </li>
        <li>
          <a href="https://t.me/torproject">
            <i class="ph ph-social--telegram">Telegram</i>
          </a>
        </li>
        <li>
          <a href="https://gitlab.torproject.org/">
            <i class="ph ph-social--gitlab">GitLab</i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="Footer--Container">
    <li>
      <ul class="Footer--Trademark">
        <li>
          <p>Tor Project, Inc &#8226;</p>
          <a href="#">Trademark and licenses</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="Footer--Flourish">
        <p>
          C &#x220B; U C O &#x220B; U C O &#x220B; U C O &#x220B; U C O &#x220B;
          U
        </p>
      </ul>
    </li>
  </ul>
</footer>
