<div class="row mb-5">
  <div class="col-6 form-group">
    <label class="control-label required" for="id_first_name_paypal"
      >First name</label
    >
    <input
      type="text"
      name="first_name"
      class="mt-2 form-control"
      required
      id="id_first_name_paypal"
    />
    <div class="invalid-feedback">Please enter a first name.</div>
  </div>
  <div class="col-6 form-group">
    <label class="control-label required" for="id_last_name_paypal"
      >Last name</label
    >
    <input
      type="text"
      name="last_name"
      class="mt-2 form-control"
      required
      id="id_last_name_paypal"
    />
    <div class="invalid-feedback">Please enter a last name.</div>
  </div>
</div>

<div class="mb-2">
  <label class="control-label required" for="id_email_address_paypal"
    >Email address</label
  >
  <input
    type="email"
    name="email_address"
    class="mt-2 mb-2 form-control"
    required
    id="id_email_address_paypal"
  />
  <div class="invalid-feedback">Please enter a valid email address.</div>
</div>

<div class="mb-5">
  <div class="form-group">
    <div class="">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            name="email_updates"
            id="id_email_updates_paypal"
          />
          <span>Send me updates from the Tor Project</span>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="mb-5">
  <div class="form-group">
    <label class="control-label required" for="id_country_paypal"
      >Country</label
    >

    <div class="">
      <select
        name="country"
        class="mt-2 form-control"
        id="id_country_paypal"
      ></select>
    </div>
  </div>
  <div class="hidden shippingRestricted">
    <p class="tiny">
      Due to shipping restrictions, we currently can not ship to Ukraine, or
      Russia. We apologize for the inconvenience.
    </p>
  </div>
</div>

<div class="row mb-5">
  <div class="col-7 form-group">
    <label class="control-label required" for="id_street_address_paypal"
      >Street address</label
    >
    <input
      type="text"
      name="street_address"
      class="mt-2 form-control"
      required
      id="id_street_address_paypal"
    />
    <div class="invalid-feedback">Please enter an address.</div>
  </div>
  <div class="col-5 form-group">
    <div class="form-group">
      <label class="control-label" for="id_apartment_number_paypal"
        >Apartment number</label
      >

      <div class="">
        <input
          type="text"
          name="apartment_number"
          class="mt-2 form-control"
          id="id_apartment_number_paypal"
        />
      </div>
    </div>
  </div>
</div>

<div class="mb-5">
  <label class="control-label required" for="id_city_paypal">City</label>
  <input
    type="text"
    name="city"
    class="mt-2 form-control"
    required
    id="id_city_paypal"
  />
  <div class="invalid-feedback">Please enter a city.</div>
</div>

<div class="row mb-5">
  <div class="col-7">
    <div class="form-group">
      <label class="control-label required" for="id_state_paypal">State</label>
      <div class="">
        <select
          name="state"
          class="mt-2 form-control"
          id="id_state_paypal"
        ></select>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="form-group">
      <label class="control-label required" for="id_postal_code_paypal">Postal code</label>
      <input type="text" name="postal_code" class="mt-2 form-control" required id="id_postal_code_paypal">
      <div class="invalid-feedback">
        Please enter a postal code.
      </div>
    </div>
    <div class="invalid-feedback">Please enter a postal code.</div>
  </div>
</div>
