<header>
  <ul class="Header--Container">
    <li class="col-12 col-md-4">
      <div>(Tor logo)</div>
    </li>
    <li class="col-12 col-md-4">
      <ul class="Header--Navigation">
        <li><a href="#">About</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </li>
    <li class="col-12 col-md-4">
      <ul class="Header--Links">
        <li><a href="#">Download</a></li>
        <li><a href="#">Donate</a></li>
      </ul>
    </li>
  </ul>
</header>
