<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% include 'meta.html' %}
    <title>{{ _('Tor Project') }}</title>
    {% block pageheader %}{% endblock %}
  </head>
  <body id="{% block pageid %}{% endblock pageid %}">
    {% include 'header.html' %} {% block hero %} {% endblock hero %} {% block
    body %} {% endblock body %} {% include 'footer.html' %} {% block pagescripts
    %} {% endblock pagescripts %} {% include 'scripts.html' %}
  </body>
</html>
