<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Stripe CSP -->
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self';
  img-src data: 'self' 'unsafe-inline' 'unsafe-eval' https://*.stripe.com https://*.paypalobjects.com;
  script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.stripe.com https://*.paypal.com;
  script-src-elem 'self' 'unsafe-inline' https://*.stripe.com https://*.paypal.com;
  style-src 'self' 'unsafe-inline' sha256-0hAheEzaMe6uXIKV4EehS9pu1am1lj/KnnzrOYqckXk=;
  style-src-elem 'self' 'unsafe-inline' https://*.stripe.com;
  connect-src 'self' https://*.stripe.com https://*.paypal.com;
  frame-src 'self' https://*.stripe.com https://*.paypal.com;
  "
/>

<link rel="stylesheet" href="/static/css/bootstrap.css" />
<link rel="stylesheet" href="/static/icons/Phosphor.css" />
<link rel="stylesheet" href="/static/css/main.css" />

<!-- Standard favicon -->
<link
  rel="icon"
  type="image/x-icon"
  href="/static/images/favicon/favicon.ico"
/>
<!-- Recommended favicon format -->
<link rel="icon" type="image/png" href="/static/images/favicon/favicon.png" />
