<!-- vendor scripts -->
<script type="text/javascript" src="/static/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.7.1.min.js"></script>
<script
  type="text/javascript"
  src="/static/js/jquery.matchHeight-min.js"
></script>
<script type="text/javascript" src="/static/js/lokijs.min.js"></script>

<!-- main script -->
<script type="module" src="/static/js/script.min.js"></script>
