{% load i18n %}
<p>Are you human?</p>
<p class="small">Enter the 4 characters displayed below (not case sensitive)</p>
<div class="row mb-4">
  <div class="col-3 text-center">
    <img src="{{ image }}" alt="captcha" class="captcha" />
  </div>
  <div class="col-9">
    {% include "django/forms/widgets/multiwidget.html" %}
    <div class="invalid-feedback">Please enter a valid CAPTCHA.</div>
  </div>
</div>

{% if audio %} {% if horseradish %}
<br />
<audio id="captcha-audio" controls>
  <source src="{{ audio }}" type="audio/wav" />
</audio>
<p>Play CAPTCHA as audio file</p>
{% endif %} {% endif %}
