$vendor_status: (
  "succeeded",
  "COMPLETED",
  "processing",
  "requires_payment_method"
);

#thankyou {
  .Cards .Card--UpperHalf {
    display: none;
  }

  @each $status in $vendor_status {
    &.#{$status} {
      .Cards .Card--UpperHalf.Card-#{$status} {
        display: block;
      }
    }
  }
}

#checkout_paypal {
  &.single {
    #paypal-button-container-single {
      display: block;
    }
    #paypal-button-container-monthly {
      display: none;
    }
  }
  &.monthly {
    #paypal-button-container-single {
      display: none;
    }
    #paypal-button-container-monthly {
      display: block;
    }
  }
}
